/* Your CSS styles here */
.TextFieldContainer {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* .css-7209ej-MuiInputBase-input-MuiFilledInput-input {
  border-bottom: 2.5rem solid transparent !important;
} */
.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputMultiline {
  border-bottom: 2.5rem solid transparent !important;
  /* padding: '25px 3px 12px 8px' !important; */
}
